/*! Place your custom styles here */

.process__item h4 {
  margin-bottom: 0.3em;
}

.triptych.border--round img {
  box-shadow:0 23px 40px rgba(0, 0, 0, 0.2);
}

.list-inline--images.sponsor img {
  max-height: 7.78571429em;
}

.sponsor img {
  margin-bottom: 30px;
